@media screen and (min-width: 375px) {
  .backgroundColor {
    background-image: url(../../public/assets/img/background.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
  }
}
