@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Adjusted Impact Fallback";
  src: local(Impact);
  size-adjust: 86%;
  ascent-override: normal;
  descent-override: normal;
  line-gap-override: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  font-weight: 500;
  text-decoration: none;
}

html,
body {
  min-width: 240px;
  min-height: 100vh;
  color: #f3f4f6;
  font-family: "Nunito Variable", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  @apply bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-[#111111] via-zinc-800 to-[#111111];
}
